/*  ROOT */
:root {
  --main-color: #C1B48A;
  --main-background: #ffffff;
  --main-border-rads: 3px;
}
/* START MAIN RULES */
* {
  box-sizing: border-box;
}
/*END  MAIN RULES */
body {
  direction: rtl;
  font-family: "Cairo", sans-serif;
  font-family: "El Messiri", sans-serif;
  font-family: "Kablammo", cursive;
  font-family: "Lilita One", cursive;
  font-family: "Tajawal", sans-serif;
}

/* START UPPER HEADER SECTION */
.upper-header {
  position: relative;
  background-color: var(--main-background);
  padding: 8px 0;
  font-size: 14px;
  .container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
  }
  .sign-in {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    .sign-in-btn {
      background-color: transparent;
      border: 1px solid var(--main-color);
      color: var(--main-color);
      padding: 10px;
      border-radius: var(--main-border-rads);
      -webkit-border-radius: var(--main-border-rads);
      -moz-border-radius: var(--main-border-rads);
      -ms-border-radius: var(--main-border-rads);
      -o-border-radius: var(--main-border-rads);
        
      &:hover,
      &:focus{
       background-color: #343a40;
       transition: .5s;
       -webkit-transition: .5s;
       -moz-transition: .5s;
       -ms-transition: .5s;
       -o-transition: .5s;
}
     
    }
    .fa-circle-user {
      margin-left: 5px;
    }
  }
  .lang-site {
    display: flex;
  }
}
.country {
  .choose-country {
    background-color: transparent;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    padding: 5px 25px;
    border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -ms-border-radius: 0 5px 5px 0;
    -o-border-radius: 0 5px 5px 0;
  }
}
.lang {
  .choose-lang {
    background-color: transparent;
    border: 1px solid var(--main-color);
    border-right-color: transparent;
    color: var(--main-color);
    padding: 5px 10px;
    border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
   .fa-globe {
      margin-right: 5px;
    }
  }

}
/* END UPPER HEADER SECTION */

.before-nav{
 background: var(--main-background);
 padding: 15px 0;
 .col-lg-3 ,
 .col-lg-6{
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
 }

 img{
  max-width: 50%;
 }
 .fa-magnifying-glass{
    position: absolute;
    left: 68%;
    margin-left: 2px;
 }
 .search-box{
  width: 100%;
  border: 1px solid var(--main-color);
  border-radius: var(--main-border-rads);
  padding: 10px 30px 10px 0;
  -webkit-border-radius: var(--main-border-rads);
  -moz-border-radius: var(--main-border-rads);
  -ms-border-radius: var(--main-border-rads);
  -o-border-radius: var(--main-border-rads);
}
 
 .fa-cart-shopping{
   font-size: 32px;
   color: var(--main-color);
   cursor: pointer;
   &:focus{
    outline: none;
   }
 }
 .cart{
  justify-content: flex-end;
 }
}

.menu{
  .bg-light{
    background-color: var(--main-color)!important;
    padding: 0 10px;
  }
  .navbar-light{
    .navbar-nav {
      .nav-link{
        color: var(--main-background);
        font-size: 13px;
        font-weight: 400;
        margin-left: 15px;
        padding: 10px 12px;

        &:hover{
          background-color: var(--main-background);
          color: #333;
          transition: .1s;
          -webkit-transition: .1s;
          -moz-transition: .1s;
          -ms-transition: .1s;
          -o-transition: .1s;
          
}
      }
    }
  } 
}

.slider{
  img{
    max-width: 100%;
   
  }
}

.services{
  padding: 50px 0;
  h3{
    color:var(--main-color)
  }
  img{
    max-width: 100%;
    margin: 10px 0;
    border: 3px solid var(--main-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
}

.footer{
  background-color: var(--main-color);
  color:var(--main-background);
  hr{
    width: 83%;
    margin: 20px auto;
  }
}

.offers{
  h3{
    color: var(--main-color);
  }
  .slick-slider{
    img{
      max-width: 100%;
    }
    .slick-arrow{
       background-color: var(--main-color);
       border-radius: 50%;
       padding: 1px 0 0 5px;
       top: 42%;
       
    }
     .slick-next{
      right: -30px; 
     }
     .slick-prev {
        left: -30px; 
     }
     $breakpoint-mobile: 767px;
     @media (max-width: $breakpoint-mobile) {
      .slick-arrow{
        display: none!important;
      }
    }
  }
}
