/*  ROOT */
:root {
  --main-color: #C1B48A;
  --main-background: #ffffff;
  --main-border-rads: 3px;
}

/* START MAIN RULES */
* {
  box-sizing: border-box;
}

/*END  MAIN RULES */
body {
  direction: rtl;
  font-family: "Cairo", sans-serif;
  font-family: "El Messiri", sans-serif;
  font-family: "Kablammo", cursive;
  font-family: "Lilita One", cursive;
  font-family: "Tajawal", sans-serif;
}

/* START UPPER HEADER SECTION */
.upper-header {
  position: relative;
  background-color: var(--main-background);
  padding: 8px 0;
  font-size: 14px;
}
.upper-header .container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}
.upper-header .sign-in {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.upper-header .sign-in .sign-in-btn {
  background-color: transparent;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  padding: 10px;
  border-radius: var(--main-border-rads);
  -webkit-border-radius: var(--main-border-rads);
  -moz-border-radius: var(--main-border-rads);
  -ms-border-radius: var(--main-border-rads);
  -o-border-radius: var(--main-border-rads);
}
.upper-header .sign-in .sign-in-btn:hover, .upper-header .sign-in .sign-in-btn:focus {
  background-color: #343a40;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.upper-header .sign-in .fa-circle-user {
  margin-left: 5px;
}
.upper-header .lang-site {
  display: flex;
}

.country .choose-country {
  background-color: transparent;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  padding: 5px 25px;
  border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
}

.lang .choose-lang {
  background-color: transparent;
  border: 1px solid var(--main-color);
  border-right-color: transparent;
  color: var(--main-color);
  padding: 5px 10px;
  border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
}
.lang .choose-lang .fa-globe {
  margin-right: 5px;
}

/* END UPPER HEADER SECTION */
.before-nav {
  background: var(--main-background);
  padding: 15px 0;
}
.before-nav .col-lg-3,
.before-nav .col-lg-6 {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
}
.before-nav img {
  max-width: 50%;
}
.before-nav .fa-magnifying-glass {
  position: absolute;
  left: 68%;
  margin-left: 2px;
}
.before-nav .search-box {
  width: 100%;
  border: 1px solid var(--main-color);
  border-radius: var(--main-border-rads);
  padding: 10px 30px 10px 0;
  -webkit-border-radius: var(--main-border-rads);
  -moz-border-radius: var(--main-border-rads);
  -ms-border-radius: var(--main-border-rads);
  -o-border-radius: var(--main-border-rads);
}
.before-nav .fa-cart-shopping {
  font-size: 32px;
  color: var(--main-color);
  cursor: pointer;
}
.before-nav .fa-cart-shopping:focus {
  outline: none;
}
.before-nav .cart {
  justify-content: flex-end;
}

.menu .bg-light {
  background-color: var(--main-color) !important;
  padding: 0 10px;
}
.menu .navbar-light .navbar-nav .nav-link {
  color: var(--main-background);
  font-size: 13px;
  font-weight: 400;
  margin-left: 15px;
  padding: 10px 12px;
}
.menu .navbar-light .navbar-nav .nav-link:hover {
  background-color: var(--main-background);
  color: #333;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
}

.slider img {
  max-width: 100%;
}

.services {
  padding: 50px 0;
}
.services h3 {
  color: var(--main-color);
}
.services img {
  max-width: 100%;
  margin: 10px 0;
  border: 3px solid var(--main-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.offers h3 {
  color: var(--main-color);
}
.offers .card {
  width: 16rem;
  cursor: pointer;
  margin: 5px auto;
  border-radius: 10px;
}
.offers .card:hover {
  border-color: var(--main-color);
  box-shadow: 0 20px 20px var(--main-color);
  transition: ease-in-out 0.5s;
  -webkit-transition: ease-in-out 0.5s;
  -moz-transition: ease-in-out 0.5s;
  -ms-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
}
.offers .slick-slider img {
  max-width: 100%;
  margin-bottom: 10px;
  border-radius: 10px 10px 0 0;
}
.offers .slick-slider .card-title {
  font-size: 18px;
  font-weight: bold;
}
.offers .slick-slider .price {
  font-weight: 800;
  color: var(--main-color);
}
.offers .slick-slider .discount {
  text-decoration: line-through;
  color: red;
  margin-left: 10px;
}
.offers .slick-slider .add-to-card {
  background-color: var(--main-color);
  border-color: #ccc;
  display: block;
  text-decoration: none;
  color: var(--main-background);
  border: 1px solid var(--main-background);
  border-radius: 5px;
  margin: 10px 0;
  padding: 5px 0;
}
.offers .slick-slider .add-to-card:hover {
  background-color: #343a40;
  color: var(--main-color);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.offers .slick-slider .add-to-card .fa-cart-shopping {
  margin-right: 10px;
}
.offers .slick-slider .slick-arrow {
  background-color: var(--main-color);
  border-radius: 50%;
  padding: 1px 0 0 5px;
  top: 42%;
}
.offers .slick-slider .slick-next {
  right: -30px;
}
.offers .slick-slider .slick-prev {
  left: -30px;
}

.footer {
  background-color: var(--main-color);
  color: var(--main-background);
}
.footer hr {
  width: 83%;
  margin: 20px auto;
}

@media (max-width: 767px) {
  .offers .slick-arrow {
    display: none !important;
  }
  .offers .card {
    width: 100% !important;
    margin: 0 auto !important;
  }
  .footer {
    text-align: center;
  }
  .footer h5 {
    margin: 10px 0;
  }
  .footer ul li {
    margin-left: 43px;
    line-height: 30px;
  }
}/*# sourceMappingURL=style.css.map */