/*  ROOT */
:root {
  --main-color: #d7b97d;
  --main-background: #ffffff;
  --main-border-rads: 3px;
}

/* START MAIN RULES */
* {
  box-sizing: border-box;
}

/*END  MAIN RULES */
body {
  font-family: "Cairo", sans-serif;
  font-family: "El Messiri", sans-serif;
  font-family: "Kablammo", cursive;
  font-family: "Lilita One", cursive;
  font-family: "Tajawal", sans-serif;
}

/* START UPPER HEADER SECTION */
.upper-header {
  background-color: var(--main-background);
  padding: 8px 0;
  font-size: 14px;
}
.upper-header .container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}
.upper-header .sign-in {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.upper-header .sign-in .sign-in-btn {
  background-color: transparent;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  padding: 10px;
  border-radius: var(--main-border-rads);
  -webkit-border-radius: var(--main-border-rads);
  -moz-border-radius: var(--main-border-rads);
  -ms-border-radius: var(--main-border-rads);
  -o-border-radius: var(--main-border-rads);
}
.upper-header .sign-in .sign-in-btn:hover, .upper-header .sign-in .sign-in-btn:focus {
  background-color: #343a40;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.upper-header .sign-in .fa-circle-user {
  margin-left: 5px;
}
.upper-header .lang-site {
  display: flex;
}

.country .choose-country {
  background-color: transparent;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  padding: 5px 25px;
  border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
}

.lang .choose-lang {
  background-color: transparent;
  border: 1px solid var(--main-color);
  border-right-color: transparent;
  color: var(--main-color);
  padding: 5px 10px;
  border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
}
.lang .choose-lang .fa-globe {
  margin-right: 5px;
}

/* END UPPER HEADER SECTION */
.before-nav {
  background: var(--main-background);
  padding: 15px 0;
}
.before-nav .col-lg-3,
.before-nav .col-lg-6 {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
}
.before-nav img {
  max-width: 50%;
}
.before-nav .search-box {
  width: 100%;
  border: 1px solid var(--main-color);
  border-radius: var(--main-border-rads);
  padding: 10px 30px 10px 0;
  -webkit-border-radius: var(--main-border-rads);
  -moz-border-radius: var(--main-border-rads);
  -ms-border-radius: var(--main-border-rads);
  -o-border-radius: var(--main-border-rads);
}
.before-nav .fa-cart-shopping {
  font-size: 32px;
  color: var(--main-color);
  cursor: pointer;
}
.before-nav .fa-cart-shopping:focus {
  outline: none;
}
.before-nav .cart {
  justify-content: flex-end;
}

.menu .bg-light {
  background-color: var(--main-color) !important;
  padding: 0 10px;
}
.menu .navbar-light .navbar-nav .nav-link {
  color: var(--main-background);
  font-size: 14px;
  font-weight: 400;
  margin-left: 15px;
  padding: 10px;
  font-weight: 500;
}
.menu .navbar-light .navbar-nav .nav-link:hover {
  background-color: var(--main-background);
  color: #333;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
}/*# sourceMappingURL=style.css.map */