/*  ROOT */
:root{
  --main-background :#FFFFFF;
}
/* START MAIN RULES */
*{
    box-sizing: border-box;
  }
  /*END  MAIN RULES */
  body{
    font-family: 'Cairo', sans-serif;
    font-family: 'El Messiri', sans-serif;
    font-family: 'Kablammo', cursive;
    font-family: 'Lilita One', cursive;
    font-family: 'Tajawal', sans-serif;
  }

    /* START UPPER HEADER SECTION */
    .upper-header{
      background-color: var(--main-background);
      padding: 10px 0 20px 0;
      .container{
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
      }
      .sign-in{
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
      }
      .lang-site{
        display: flex;
      }
      .lang{
        button{
          
        }
      }
    }
    /* END UPPER HEADER SECTION */