/*  ROOT */
:root{
  --main-color:#D7B97D;
  --main-background :#FFFFFF;
}
/* START MAIN RULES */
*{
    box-sizing: border-box;
  }
  /*END  MAIN RULES */
  body{
    font-family: 'Cairo', sans-serif;
    font-family: 'El Messiri', sans-serif;
    font-family: 'Kablammo', cursive;
    font-family: 'Lilita One', cursive;
    font-family: 'Tajawal', sans-serif;
  }

    /* START UPPER HEADER SECTION */
    .upper-header{
      background-color: var(--main-background);
      padding: 10px 0 20px 0;
      .container{
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
      }
      .sign-in{
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
      }
      .lang-site{
        display: flex;
      }
     
      }
      .country{
        .choose-country{
          background-color: transparent;
          border:1px solid var(--main-color) ;
          color: var(--main-color);
          padding: 5px 10px;
        }
      }
      .lang{
        .choose-lang{
          background-color: transparent;
          border:1px solid var(--main-color) ;
          border-right-color: transparent;
          color: var(--main-color);
          padding: 5px 10px;
        }
 
    }
    /* END UPPER HEADER SECTION */