*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    direction: rtl;
    font-family: 'Cairo', sans-serif;
    font-family: 'El Messiri', sans-serif;
    font-family: 'Kablammo', cursive;
    font-family: 'Lilita One', cursive;
    font-family: 'Tajawal', sans-serif;
}

.navbar{
    position: relative;
    padding: 20px 0;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    box-shadow: 0 5px 12px rgba(0,0,0,.15);
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        .nav-component{
            display: flex;
            align-items: center;
            align-content: center;
            input[type=search]{
                background-color: #F6F8FB;
                height: calc(2.44375rem + 2px);
                background: #f3f6fb;
                box-shadow: none;
                border: 0;
                padding: 0.45rem 0.75rem;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                    }
            .fa-magnifying-glass{
                position: absolute;
                left: 81%;
                top: 45%;
            }
            .tools{
                list-style: none;
                display: flex;
                padding-right: 20px;
                cursor: pointer;
               
             
                .uk-button{
                    border-radius: 50%!important;
                    -webkit-border-radius: 50%!important;
                    -moz-border-radius: 50%!important;
                    -ms-border-radius: 50%!important;
                    -o-border-radius: 50%!important;
                    padding: 0px 14px;
                    margin-left: 15px;
                    
                   
}
            }
            .uk-dropdown{
                left: -200px!important;
            }
          
         
        }
        .log-menu{
            display: flex;
            align-items: center;
            .drop-setting{
                margin-left: 15px;
               
                img{
                    max-width: 100%;
                    margin: 10px;
                }
            }
            .uk-dropdown{
                width: 100%;
                padding: 0 10px;
                margin: 0 ;
                ul{
                    list-style-type: none;
                    padding: 0;
                    li{
                         margin: 10px 0;
                         padding: 15px 0;
                         cursor: pointer;
                         border-bottom: 1px solid #ddd;
                         transition: .5s;
                         -webkit-transition: .5s;
                         -moz-transition: .5s;
                         -ms-transition: .5s;
                         -o-transition: .5s;
                         &:hover{
                            background: #F4F7F9;
                            padding-right: 10px;
                         
                        }
                    }
                }
            }
        }
    }
}